/*  range样式  首付  */
.box { margin-bottom: 50px;margin-top: 50px;margin-left: 74px;font: 14px/30px "microsoft yahei";color: #333333;position: relative;}
.range { position: relative;display: inline-block;}
.slot { position: relative;padding: 10px 0px;}
.slot li { float: left;display: block;height: 4px;background-color: #e5e5e5;position: relative;}
.slot li i { display: block;background-color: #ffffff;width: 5px;height: 5px;border-radius: 4px;position: absolute;left: 0px;top: 0px;background: url(../images/search_btn.png) no-repeat -9px -20px;z-index: 10;}
.line { position: absolute;top: 10px;left: 0px;width: 770px;height: 4px;background-color: #fc6621;}
.line span { width: 20px;height: 20px;font: 16px/20px "microsoft yahei";color: #000000;background-color: #FFFFFF;border-radius: 10px;text-align: center;}
.line .front { position: absolute;left: -10px;top: -4px;width: 20px;height: 12px;background: url(../images/search_btn.png) no-repeat -4px -4px;z-index: 20;}
.line .back { position: absolute;right: -10px;top: -4px;width: 20px;height: 12px;background: url(../images/search_btn.png) no-repeat -4px -4px;z-index: 20;}
